<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Tâche :</title>
</head>
<body>

<h1>Tâche spécifique :</h1>
<p th:if="${task == null}">Aucune tâche ne possède cet ID</p>
<table th:unless="${task == null}">
    <td th:text="${task.category.name}"></td>
    <td th:text="${task.content}"></td>
    <form action="#" th:action="@{'/tasks/{id}/delete'(id=${task.id})}" th:method="delete" >
        <input type="hidden" name="_method" value="delete" />
        <button type="submit" id="submitButton"> Delete</button>
    </form>
</table>
</body>
</html>