<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>Liste des todos</title>
</head>
<body>

<h1>Choses à faire</h1>

<p th:if="${rows.isEmpty()}">Aucune tâche à afficher</p>

<table th:unless="${rows.isEmpty()}">
  <tr th:each="row: ${rows}">
    <td th:text="${row.id}"></td>
    <td th:text="${row.content}"></td>
  </tr>
</table>

<h2>Create new task</h2>
<form action="/tasks/new" method="get">
  <div class="button">
    <button type="submit">Create</button>
  </div>
</form>

<br><br><br><br><br>

<h2>Create new account</h2>
<form action="/account/create" method="post">
  <div>
    <label for="username">Category:</label>
    <input type="text" id="username" name="username">
  </div>
  <div>
    <label for="password">Content :</label>
    <input type="text" id="password" name="password">
  </div>
  <div>
    <label for="cpassword">Content :</label>
    <input type="text" id="cpassword" name="cpassword">
  </div>
  <div class="button">
    <button type="submit">Create</button>
  </div>
</form>

<br><br><br><br><br><br><br><br><br>



<h4>Log in</h4>
<form action="/login" method="get">
  <div class="button">
    <button type="submit">Log in</button>
  </div>
</form>

<h4>Log out</h4>
<form action="/logout" method="get">
  <div class="button">
    <button type="submit">Log Out</button>
  </div>
</form>


</body>
</html>